.wrapper{
  box-shadow: 1px 1px 10px grey;
  user-select: none;
  z-index: 20;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;

}
.logo__img{
  width: 30px;
}
.logo__text{
  font-size: 25px;
}
.logo{
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active{
  color: #048304;
}
.list{
  font-size: 20px;
  transition: top 0.5s;
}
.link{
  padding: 5px 10px;
}
.burger{
  width: 50px;
  height: 40px;
  cursor: pointer;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.burger__line{
  width: 45px;
  height: 3px;
  border-radius: 10px;
  background-color: black;
  transition: all 0.3s ease 0s;
}
.burgerOpen .burger__line:nth-child(2){
  display: none;
}
.burgerOpen .burger__line:nth-child(1){
  transform: rotate(45deg);
  position: relative;
  top:7px;
}
.burgerOpen .burger__line:nth-child(3){
  transform: rotate(-45deg);
  position: relative;
  top: -8px;

}
@media(max-width: 800px) {
  .list{
    display: none;
  }
  .burger{
    display: flex;
    z-index: 20;
  }
  .list{
    z-index: 10;
    padding: 20px 0 0 0;
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top:-120%;
    left: 0;
    flex-direction: column;
    align-items: center;
  }
  .list.burgerOpen{
    top:0
  }
  .link{
    margin: 30px 0;
  }
}